@media screen and (max-width: 1060px) {
  body {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
    height: 80px;
    display: flex;
  }

  .logo-wrapper {
    height: 100%;
    width: 30%;
  }

  .menu-options {
    width: 100%;
    display: flex;
    padding: 0 15px;
  }

  .menu-options * {
    margin: 0 10px;
    height: 100%;

  }

  .odd-item i, .odd-item span, .even-item i, .even-item span {
    height: fit-content;
  }

  .odd-item, .even-item {
    display: flex;
    align-items: center;
  }

}
