/* =============== CSS BASIC RESETING=============== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

li {
  list-style-type: none;
}

/* ================================================== */

body {
  background-color: rgba(0,0,0,.05);
  display: flex;
  padding: 20px;
  height: 100vh;
}

.side-menu {
  width: 15%;
}


/* MAIN APPLICATION SECTION */
.content-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-header {
  display: flex;
  align-self: flex-end;
  width: 280px;
  justify-content: space-between;
  align-items: center;
}

.user-header strong {
  color: #469969;
  font-weight: normal;
  font-size: 1.3rem;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info small {
  align-self: flex-end;
  color: rgba(0,0,0,.3);
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.3);
}

/* CONTAINER FOR COURSES LIST */

.course-wrapper {
  background-color: #FFF;
  border-radius: 5px;
  height: 75%;
  border: 1px solid rgba(0,0,0,.3);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-wrapper h1 {
  color: #e0ac53;
  font-weight: normal;
  font-size: 1.6rem;
}

.search-wrapper {
  align-self: flex-end;
  color: rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.03);
  border: .5px solid rgba(0,0,0,.07);
  border-radius: 7px;
  width: 250px;
  height: 25px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.search-wrapper input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
}

.search-wrapper input[type="text"]::placeholder {
  color: rgba(0,0,0,.3)
}
